.TZbutton{
    height: 32px;
    line-height: 100%;
    display: inline-block;
    padding: 0 12px;
    margin-right:8px;
    margin-bottom: 12px; 
    color: rgba(0,0,0,0.65);
    background: #ffffff;
    border:1px #d9d9d9 solid;
    border-radius: 5px;
    white-space: nowrap;
    font-weight: 400;
}
.TZbutton:focus{
    outline: 0;
}
.TZbutton:disabled{
    color: rgba(0,0,0,0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    cursor: pointer;
}
.TZbutton:disabled:hover{
    color: rgba(0,0,0,0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    
}
.TZbutton:focus,.TZbutton:active,.TZbutton:hover{
    /*opacity: .35;*/
    /*transition: opacity .1s;*/
    transition: all .5s;
    outline: 0;
    color: #096dd9;
    border-color: #096dd9;
}
.checkboxlabel{
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 12px;
    height: 16px;
    display: inline-block;
}
.TZcheckbox{
    visibility: hidden;
    position: absolute;    
    vertical-align: top;
}
.checkboxInner{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    background: none;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    vertical-align: top;
    border-radius: 2px;
}
.TZcheckbox:checked + .checkboxInner{
    background: #1890ff;
    border-color: #1890ff;
}
.TZcheckbox:checked + .checkboxInner:after{
    display: inline-block;
    width: 4px;
    height: 8px;
    position: absolute;
    left: 4px;
    top: 0px;
    content: '';
    background: none;
    border: 2px solid white;
    transform: rotate(45deg);
    border-top: none; 
    border-left: none; 
}
.innertext{
    color: rgba(0,0,0,0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    vertical-align: top;
    height: 16px;
    line-height: 16px;
}

.primary{
    color: #ffffff;
    background: #1890ff;
    border-color: #1890ff;
}
.primary:focus,.primary:active,.primary:hover{
    
    color: #ffffff;
    background: #096dd9;
    border-color: #096dd9;
}

.dashed{
    border-style: dashed;
}
.danger{
    color: #f5222d;
    background-color: #f5f5f5;
    border-color: #d9d9d9;
}
.danger:focus,.danger:active,.danger:hover{
    color: #fff;
    background-color: #ff4d4f;
    border-color: #ff4d4f;
}

.link{
    color: #1890ff;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-right: 8px;
}
.link:focus,.link:active,.link:hover{
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
}

